// Primary Theme colors
$white: #FFF;
$black: #000;
$red: rgb(255, 40, 40);
$blue: #0077ee;

// Title colors
$header-title: #505050;
$welcome-title: #1b2dff;

// Border Colors
$border-gray: #e2e2e2;
$pagin-border: #dddddd;

// Background colors
$body-bg: #f1f1f1;
$btn-primary-bg: #007eff;
$warning-bg: #ffd9d9;
$welcome-bg: #b7dbff;
$btn-primary-hover: #0058b3;
